<div class="form-group">
  <label for="{{key}}">{{label}}</label>

  {{#if (eq type "checkbox")}}
    {{input class="form-control"
      checked=checked
      name=key
      type=type
      placeholder=placeholder }}
  {{else}}
    {{input class="form-control"
      value=value
      name=key
      type=type
      placeholder=placeholder }}
    {{/if}}
</div>
