<div>
  <span class="checkboxes--label">{{options.label}}</span>
  <br />
  {{#each inputs as |item|}}
    <input type="checkbox"
           checked={{get value item.key}}
           onclick={{action (action "setChecked" item.key) value="target.checked"}}
           name={{concat key '_' item.key}} />
    <span class="checkboxes--input--label">{{item.label}}</span>
    <br />
  {{/each}}
</div>

